<%= form_with(model: todo_list, local: true) do |form| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
        <% todo_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <div class="field">
          <%= form.text_field :titulo, class: 'form-control', placeholder: 'Titulo' %>
        </div>
      </div>
      <div class="col-2">
        <div class="actions">
        <div class="input-group-append">
          <%= form.submit "Salvar To Do", class: "btn btn-primary input-group-btn" %>
        </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
